node_modules/
.cache/
build/
public/build
.env
.env.local
.env.*.local
.shopify
.vercel
.netlify
.DS_Store
*.log
dist/
.turbo
.next
coverage/
.idea/
.vscode/
extensions/cart-transform/dist/
extensions/options-widget/dist/
